<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Result</title>
</head>
<body>
    <center>  <img src="../ss/<%=sname%>.jpeg" ></center>
    <!-- <% name.forEach((d)=>{ %>
          <%=d %>
   <% }) %>
   <hr>
   <table>
 <tr> <% subjects.forEach((d,i)=>{ %>
     
     <th>   <%=d %> </th>   
        <% }) %> </tr>
        <hr>
    <tr>   <% grades.forEach((d)=>{ %>
      <th> <%=d %></th>  
         <% }) %>  </tr> 
   </table>
  
     <hr>
     <% overall.forEach((d)=>{ %>
      <%=d %>
<% }) %> -->
<form action="/email" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="enter your email to receive the file" >
    </div>
    <button class="btn btn-danger btn-block">
       Send To my email
   </button>
</form>
<button>
    <button class="btn btn-danger btn-block">
       
  <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Check mail</a>    </button> 
</button>
</body>
</html>